######################################
# Ignore all flash directories
######################################
**/flash/**

######################################
# Allow startup-config files inside flash/
######################################
!**/flash/startup-config

######################################
# Do not ignore .gitignore itself
######################################
!.gitignore
