######################################
# Ignore all flash directories
######################################
**/flash/**

######################################
# Allow startup-config files inside flash/
######################################
!**/flash/startup-config

######################################
# Ignore clab topology related files
######################################
**/clab-*/ansible-inventory.yml
**/clab-*/authorized_keys
**/clab-*/nornir-simple-inventory.yml
**/clab-*/topology-data.json

######################################
# Do not ignore .gitignore itself
######################################
!.gitignore
