!
no aaa root
!
username admin privilege 15 role network-admin secret admin
!
management api http-commands
   no shutdown
!
no service interface inactive port-id allocation disabled
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
hostname {{ inventory_hostname }}
ip domain lookup source-interface {{ global.lookup_source }}
{% for dns in global.dns %}
ip name-server vrf default {{ dns }}
{% endfor %}
dns domain lab.danielblazek.cz
!
spanning-tree mode mstp
!
system l1
   unsupported speed action error
   unsupported error-correction action error
!
management api gnmi
   transport grpc default
!
management api netconf
   transport ssh default
!
{% include "intf.j2" %}

{% include "vxlan.j2" %}
!
ip route 0.0.0.0/0 172.20.20.1
!
ipv6 route ::/0 3fff:172:20:20::1
!
{% include "fabric.j2" %}

!
router multicast
   ipv4
      software-forwarding kernel
   !
   ipv6
      software-forwarding kernel
!
end