ip prefix-list PL-LOOPBACKS-EVPN-OVERLAY
   seq 10 permit 100.64.0.0/24 eq 32
   seq 20 permit 100.65.0.0/24 eq 32
!
route-map RM-CONN-2-BGP permit 10
   match ip address prefix-list PL-LOOPBACKS-EVPN-OVERLAY
!
router bgp {{ bgp_as }}
   router-id {{ router_id }}
   update wait-install
   no bgp default ipv4-unicast
   maximum-paths 4 ecmp 4
   neighbor EVPN-OVERLAY-PEERS peer group
   neighbor EVPN-OVERLAY-PEERS update-source Loopback0
   neighbor EVPN-OVERLAY-PEERS bfd
   neighbor EVPN-OVERLAY-PEERS ebgp-multihop 3
   neighbor EVPN-OVERLAY-PEERS password LAB
   neighbor EVPN-OVERLAY-PEERS send-community
   neighbor EVPN-OVERLAY-PEERS maximum-routes 0
   neighbor IPv4-UNDERLAY-PEERS peer group
   neighbor IPv4-UNDERLAY-PEERS password LAB
   neighbor IPv4-UNDERLAY-PEERS send-community
   neighbor IPv4-UNDERLAY-PEERS maximum-routes 12000
{% if 'leaf' in group_names %}
{% for spine in groups['spine'] %}
   neighbor {{ hostvars[spine].router_id }} peer group EVPN-OVERLAY-PEERS
   neighbor {{ hostvars[spine].router_id }} remote-as {{ hostvars[spine].bgp_as }}
   neighbor {{ hostvars[spine].router_id }} description {{ spine }}_Loopback0
{% endfor %}
{% endif %}
{% if 'spine' in group_names %}
{% for leaf in groups['leaf'] %}
   neighbor {{ hostvars[leaf].router_id }} peer group EVPN-OVERLAY-PEERS
   neighbor {{ hostvars[leaf].router_id }} remote-as {{ hostvars[leaf].bgp_as }}
   neighbor {{ hostvars[leaf].router_id }} description {{ leaf }}_Loopback0
{% endfor %}
{% endif %}
{% if 'leaf' in group_names %}
{% for spine in groups['spine'] %}
{% set spine_intf = hostvars[spine].ethernet_interfaces
   | selectattr('peer', 'equalto', inventory_hostname)
   | list
   | first %}
{% if spine_intf is defined %}
   neighbor {{ spine_intf.ip_address.split('/')[0] }} peer group IPv4-UNDERLAY-PEERS
   neighbor {{ spine_intf.ip_address.split('/')[0] }} remote-as {{ hostvars[spine].bgp_as }}
   neighbor {{ spine_intf.ip_address.split('/')[0] }} description {{ spine }}_{{ spine_intf.name }}
{% endif %}
{% endfor %}
{% endif %}
{% if 'spine' in group_names %}
{% for leaf in groups['leaf'] %}
{% set leaf_intf = hostvars[leaf].ethernet_interfaces
   | selectattr('peer', 'equalto', inventory_hostname)
   | list
   | first %}
{% if leaf_intf is defined %}
   neighbor {{ leaf_intf.ip_address.split('/')[0] }} peer group IPv4-UNDERLAY-PEERS
   neighbor {{ leaf_intf.ip_address.split('/')[0] }} remote-as {{ hostvars[leaf].bgp_as }}
   neighbor {{ leaf_intf.ip_address.split('/')[0] }} description {{ leaf }}_{{ leaf_intf.name }}
{% endif %}
{% endfor %}
{% endif %}
   redistribute connected route-map RM-CONN-2-BGP
{% include "mac-vrf.j2" %}
   address-family evpn
      neighbor EVPN-OVERLAY-PEERS activate
      host-flap detection expiry timeout 300.0 seconds
   !
   address-family ipv4
      no neighbor EVPN-OVERLAY-PEERS activate
      neighbor IPv4-UNDERLAY-PEERS activate
{% include "bgp-vrf.j2" %}