{% if 'leaf' in group_names %}
{% for ethernet_interface in ethernet_interfaces %}
{% if ethernet_interface.peer_type == 'esi' %}
!
interface Port-Channel{{ ethernet_interface.channel_group.id }}
   description {{ ethernet_interface.peer }}_{{ ethernet_interface.peer_interface }}
{% if ethernet_interface.shutdown %}
   shutdown
{% else %}
   no shutdown
{% endif %}
{% set profile = port_profiles.get(ethernet_interface.port_profile) %}
{% if profile %}
{% if profile.mode == 'trunk' %}
   switchport trunk native vlan {{ profile.native_vlan }}
   switchport trunk allowed vlan {{ profile.allowed_vlans }}
   switchport mode trunk
{% elif profile.mode == 'access' %}
   switchport mode access
   switchport access vlan {{ profile.access_vlan }}
{% endif %}
{% endif %}
   switchport
   !
   evpn ethernet-segment
      identifier 0000:0000:beee:{{ switch_group }}:{{ "%04d" | format(ethernet_interface.channel_group.id | int) }}
      route-target import be:ee:{{ (switch_group | string)[0:2] }}:{{ (switch_group | string)[2:] }}:00:{{ "%02d" | format(ethernet_interface.channel_group.id | int) }}
   lacp system-id {{ ip_virtual_router_mac_address }}
{% endif %}
{% endfor %}
{% endif %}
!
{% for ethernet_interface in ethernet_interfaces %}
{% if ethernet_interface.peer_type in ['spine', 'leaf'] %}
interface {{ ethernet_interface.name }}
   description {{ ethernet_interface.peer }}_{{ ethernet_interface.peer_interface }}
   mtu 9202
   no switchport
   ipv6 enable
{% elif ethernet_interface.peer_type == 'esi' %}
interface {{ ethernet_interface.name }}
   description {{ ethernet_interface.peer }}
   channel-group {{ ethernet_interface.channel_group.id }} mode {{ ethernet_interface.channel_group.mode }}
{% elif ethernet_interface.peer_type == 'orphan' %}
interface {{ ethernet_interface.name }}
   description {{ ethernet_interface.peer }}
{% set profile = port_profiles.get(ethernet_interface.port_profile) %}
{% if profile %}
{% if profile.mode == 'trunk' %}
   switchport trunk native vlan {{ profile.native_vlan }}
   switchport trunk allowed vlan {{ profile.allowed_vlans }}
   switchport mode trunk
{% elif profile.mode == 'access' %}
   switchport mode access
   switchport access vlan {{ profile.access_vlan }}
{% endif %}
{% endif %}
{% elif ethernet_interface.peer_type == 'external' %}
{% set profile = port_profiles.get(ethernet_interface.port_profile) %}
{% set external_peer = external_peers.get(ethernet_interface.port_profile) %}
{% if profile and external_peer %}
{% if profile.mode == 'routed' %}
interface {{ ethernet_interface.name }}
   description {{ ethernet_interface.peer }}_{{ ethernet_interface.peer_interface }}
   no switchport
   vrf {{ external_peer.vrf }}
   ip address {{ ethernet_interface.ipv4_address }}
{% endif %}
{% endif %}
{% endif %}
{% if ethernet_interface.shutdown %}
   shutdown
!
{% else %}
   no shutdown
!
{% endif %}
{% endfor %}
interface loopback0
   description RouterID
   ip address {{ router_id }}/32
   ipv6 address {{ router_id_ipv6 }}/128
!
{% if 'leaf' in group_names %}
interface loopback1
   description VTEP
   ip address {{ vtep }}/32
   ipv6 address {{ vtep_ipv6 }}/128
!
{% endif %}
interface Management0
   ip address {{ mgmt_ipv4 }}/24
   ipv6 address {{ mgmt_ipv6 }}/64
{% include "svi-vrf.j2" %}