!
interface loopback0
   description RouterID
   ip address {{ router_id }}/32
!
interface loopback1
   description VTEP
   ip address {{ vtep }}/32
!
{% for ethernet_interface in ethernet_interfaces %}
{% if ethernet_interface.peer_type in ['spine', 'leaf'] %}
interface {{ ethernet_interface.name }}
   no switchport
   description {{ ethernet_interface.peer }}_{{ ethernet_interface.peer_interface }}
   mtu 9202
   ip address {{ ethernet_interface.ip_address }}
{% elif ethernet_interface.peer_type == 'esi' %}
interface {{ ethernet_interface.name }}
   description {{ ethernet_interface.peer }}
   no shutdown
   channel-group {{ ethernet_interface.channel_group.id }} mode {{ ethernet_interface.channel_group.mode }}
!
interface Port-Channel{{ ethernet_interface.channel_group.id }}
   description {{ ethernet_interface.peer }}_{{ ethernet_interface.peer_interface }}
   no shutdown
   switchport trunk native vlan 1000
   switchport trunk allowed vlan none
   switchport mode trunk
   switchport
   !
   evpn ethernet-segment
      identifier 0000:0000:beee:{{ switch_group }}:{{ "%04d" | format(ethernet_interface.channel_group.id | int) }}
      route-target import be:ee:{{ (switch_group | string)[0:2] }}:{{ (switch_group | string)[2:] }}:00:{{ "%02d" | format(ethernet_interface.channel_group.id | int) }}
   lacp system-id {{ ip_virtual_router_mac_address }}
{% elif ethernet_interface.peer_type == 'orphan' %}
interface {{ ethernet_interface.name }}
   description {{ ethernet_interface.peer }}
   no shutdown
   switchport trunk native vlan 1000
   switchport trunk allowed vlan none
   switchport mode trunk
   switchport
{% endif %}
{% if ethernet_interface.shutdown == 'true' %}
   shutdown
{% else %}
   no shutdown
!
{% endif %}
{% endfor %}