{% if 'leaf' in group_names %}
!
interface Vlan1
   shutdown
!
{% for vrf_name, vrf in vrfs.items() %}
{% if vrf.svis is defined %}
{% for svi in vrf.svis %}
interface Vlan{{ svi.id }}
   description {{ svi.name }}
{% if svi.enabled %}
   no shutdown
{% else %}
    shutdown
{% endif %}
   vrf {{ vrf_name }}
   ip address virtual {{ svi.ipv4_address }}
{% endfor %}
!
{% endif %}
{% endfor %}
{% endif %}