{% if 'leaf' in group_names %}
interface Vxlan1
   description {{ inventory_hostname }}_VTEP
   vxlan source-interface Loopback1
   vxlan udp-port 4789
{% for vlan_name, vlan in vlans.items() %}
   vxlan vlan {{ vlan.id }} vni 10{{ "%04d" | format(vlan.id | int) }}
{% endfor %}
{% for vrf_name, vrf in vrfs.items() %}
   vxlan vrf {{ vrf_name }} vni {{ "%04d" | format(vrf.vni | int) }}
{% endfor %}
   vxlan learn-restrict any
!
ip virtual-router mac-address {{ ip_virtual_router_mac_address }}
!
{% endif %}